
.react__drag__rotate__rotater {
  width: 20px;
  height: 20px;
  border-radius: 20% 80% 20% 80%;
  background: transparent;
  border-width: 4px;
  border-style: solid;
  position: absolute;

  &-wrap {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--top-left {
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-bottom-color: transparent;
    border-right-color: transparent;
    top: -14px;
    left: -14px;
    cursor: move;
  }
  &--top-right {
    border-top-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: transparent;
    border-left-color: transparent;
    top: -14px;
    right: -14px;
    cursor: move;
  }
  &--bottom-left {
    border-bottom-color: #ccc;
    border-left-color: #ccc;
    border-top-color: transparent;
    border-right-color: transparent;
    bottom: -14px;
    left: -14px;
    cursor: move;
  }
  &--bottom-right {
    border-bottom-color: #ccc;
    border-right-color: #ccc;
    border-top-color: transparent;
    border-left-color: transparent;
    bottom: -14px;
    right: -14px;
    cursor: move;
  }

  &--center {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ccc;

    &-top-left {
      top: -2px;
      left: -2px;
    }
    &-top-center {
      top: -2px;
      left: 50%;
      margin-left: -2px;
    }
    &-top-right {
      top: -2px;
      right: -2px;
    }
    &-right-top {
      top: -2px;
      right: -2px;
    }
    &-right-center {
      top: 50%;
      margin-top: -2px;
      right: -2px;
    }
    &-right-bottom {
      bottom: -2px;
      right: -2px;
    }
    &-center-center {
      top: 50%;
      left: 50%;
      margin-top: -2px;
      margin-left: -2px;
    }
    &-bottom-left {
      bottom: -2px;
      left: -2px;
    }
    &-bottom-center {
      bottom: -2px;
      left: 50%;
      margin-left: -2px;
    }
    &-bottom-right {
      bottom: -2px;
      right: -2px;
    }
    &-left-top {
      top: -2px;
      left: -2px;
    }
    &-left-center {
      top: 50%;
      margin-top: -2px;
      left: -2px;
    }
    &-left-bottom {
      bottom: -2px;
      left: -2px;
    }
  }
}
